html {
	font-family: 'IBM Plex Sans';
	font-weight: 300;
	font-size: 14px;
	color: #2a2626;
	border: 10px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #9fa7a7;
	margin: 1em 0;
	padding: 0; 
}


body {
	margin-top: 100px;
	background-color: #e7e9f7;
}

h1 {
	text-align: center;
}

table th {
	font-weight: 300;
}


body p {
	margin-left: 40px;
	text-align: left;
}

body a {
	cursor: pointer;
}

.relevance-note {
	font-size: 10px;
	margin: 0px;
}

.votation {
	display: flex;
	align-items: center;
	color: #9fa7a7;
	font-weight: 400;
}

.votation:hover {
	color: #000;
}

.votation a {
	text-decoration: none;
	color: #9fa7a7;
}

.relevance-note:hover {
	cursor: pointer;
}

form {
	width: 100%;
}

#querybox {
	width: 100%;
	font-size: 14px;
	height: 40px;
	margin-bottom: 30px;
}

input[type=text] {
	padding-left: 20px;
}



.single-tweet {
	padding-left: 20px;
}




s


@media (max-width: 576px) { 
	body {
		margin-left: 40px;
		margin-right: 40px;
	} 
}


@media (min-width: 768px) {
	body {
		margin-left: 100px;
		margin-right: 100px;
	} 
}


@media (min-width: 992px) {
	body {
		margin-left: 200px;
		margin-right: 200px;
	} 
}


@media (min-width: 1200px) {
	body {
		margin-left: 400px;
		margin-right: 400px;
	} 
}